<!DOCTYPE html>
<html>
<head>
  <title>Commentable</title>
  <%= csrf_meta_tag %>
</head>
<body>
  <header id="header">
    <h1>Commentable</h1>
  </header>

  <section id="content">
    <%= yield %>
  </section>
</body>
</html>
