<%= content_tag :article, :class => 'comment', :id => "C#{comment.to_param}" do %>
  <h3>
    <% if comment.user_name? %>
      <%= link_to_if comment.user_url?, comment.user_name, comment.user_url %>
    <% else %>
      <%= t('comments.comment.anonymous_user') %>
    <% end %>
  </h3>
  
  <div class="body">
    <%= auto_link(simple_format(comment.body), :html => { :rel => 'nofollow' }) %>
  </div>
<% end %>
